<!-- Project List Component Template -->
<div class="w-full flex flex-col items-center gap-7 lg:gap-14">
    @defer {
    @for (project of projects; track $index) {
    <div
        class="w-full p-3.5 lg:p-8 bg-accent_blue outline outline-1 outline-primary rounded-lg flex flex-col md:flex-row gap-4 items-stretch">


        <!-- Image / Picture Placeholder -->
        <div aria-hidden="true" class="flex-1 flex items-center justify-center bg-light rounded-lg">
            <div class="w-full h-full flex items-center justify-center">
                @if (project.content.info_card.picture.url) {
                <img [src]="project.content.info_card.picture.url" [alt]="project.content.info_card.picture.alt"
                    class="object-contain max-h-full max-w-full" />
                }
                @else {
                <span class="text-smooth_dark text-lg sm:text-xl font-spartan text-center">
                    Project Main Picture Placeholder
                </span>
                }
            </div>
        </div>


        <!-- Project Info -->
        <div
            class="w-full md:w-1/2 lg:w-[33%] px-4 lg:px-7 py-7 lg:py-20 rounded-lg bg-light flex flex-col gap-2 lg:gap-9 self-stretch">
            <h3 class="text-accent_purple text-3xl lg:text-6xl font-spartan break-words line-clamp-2"
                [title]="project.content.info_card.title">
                {{ project.content.info_card.title }}
            </h3>

            <h4 class="text-smooth_dark text-xl lg:text-3xl font-spartan">
                {{ project.content.info_card.subtitle }}
            </h4>

            <p class="text-smooth_dark text-base lg:text-xl font-spartan">
                {{ project.content.info_card.desc }}
            </p>

            <!-- Keywords Chips -->
            <div class="flex flex-wrap gap-2">
                @for (keyword of project.content.info_card.key_words; track $index) {
                <span
                    class="text-white text-sm lg:text-base px-3 py-1 rounded-full shadow-sm hover:shadow-lg transition-all duration-200 {{ getChipColor($index) }}">
                    {{ keyword }}
                </span>
                }
            </div>

            <!-- Read More Button -->
            <a [routerLink]="['/project', project.id]"
                class="px-6 py-2 lg:px-8 lg:py-3 text-base lg:text-xl font-bold flex justify-center items-center bg-accent_purple shadow-lg text-light rounded-lg hover:bg-white hover:outline hover:outline-2 hover:outline-accent_purple hover:text-accent_purple transition">
                Read More
            </a>
        </div>
    </div>
    }
    }
</div>